// src/styles/_variables.scss

// Colores
$black: #141414;
$white: #f8f8fa;
$color-green-light: #99ff99;
$color-green-dark: #264125;
$color-green-dark2: #0b120b;

// Tipografías
$font-primary: "Roc Grotesk", sans-serif;
$font-secondary: "Roc Grotesk Condensed", sans-serif;
$font-display: "Amertha", serif;
$font-compressed: "Helvetica LT Std Extra Compressed", sans-serif;
$font-stat: "Agenda Black", sans-serif;
